.confidence-meter {
  margin-top: 10px;
  width: 100%;
}

.meter-bar {
  width: 100%;
  height: 6px;
  background: #34363c;
  border-radius: 10px;
  margin-top: 4px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: #00c853;
  transition: width 0.3s ease;
}
